Pillow
suds-py3
untangle
xmljson
xmltodict
gzip-reader
XlsxWriter
openpyxl
xlrd
python-barcode
pysftp
Flask==1.1.2
Flask-Script
Flask-Sqlalchemy
Flask-Restful
Flask-inputs
flask-redis
flask_cors
python-dateutil
aniso8601
asn1crypto
blinker
certifi
cffi
chardet
click
cryptography
Flask
Flask-Cors
Flask-Inputs
Flask-Mail
Flask-Redis
Flask-RESTful
Flask-Script
flask-sqlacodegen
Flask-SQLAlchemy
future
gunicorn
gzip-reader
idna
inflect
itsdangerous
Jinja2
MarkupSafe
pycparser
PyMySQL
pytz
redis
requests
six
SQLAlchemy
urllib3
uWSGI
virtualenv
waitress
Werkzeug
WSGIserver
cryptography==2.3
pyTelegramBotAPI
sendgrid
cryptomarket