<table style="width:60%">
    <tr>
        <td>
            <table width="70%" cellspacing="0" cellpadding="0" border="1">
                <thead>
                    <th>CLP</th>
                    <th>VES</th>
                    <th>0%</th>
                    <th style="background-color: #ECDE06;">5%</th>
                    <th>6%</th>
                    <th>7%</th>
                    <th style="background-color: #228029;">8%</th>
                    <th>9%</th>
                    <th>10%</th>
                </thead>
                <tbody>
                    {% for n in data %}
                    <tr>                       
                        <td>{{n.clp}}</td>
                        <td>{{n.bs}}</td>
                        <td>{{n.tasa0}}</td>
                        <td style="background-color: #ECDE06;">{{n.tasa5}}</td>
                        <td>{{n.tasa6}}</td>
                        <td>{{n.tasa7}}</td>
                        <td style="background-color: #228029;">{{n.tasa8}}</td>
                        <td>{{n.tasa9}}</td>
                        <td>{{n.tasa10}}</td>
                    </tr>
                    {%endfor%}
                        
                </tbody>
            </table>

        </td>
    </tr>
</table>

"idProyecto": "9f55cf26-9e3c-4f2a-8d31-e38dcc8a170f",
    "enterpriseSecret": "0464aa15-9b99-49eb-8451-822b453f5021",
    "idProyecto": "9f55cf26-9e3c-4f2a-8d31-e38dcc8a170f",
    "enterpriseSecret": "0464aa15-9b99-49eb-8451-822b453f5021",
    ttl tiempo de duracion de la solicitud